[Unit]
Description=TestApp
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www
ExecStart=/usr/bin/java /var/www/suchapp-0.0.1-SNAPSHOT.jar -jar --spring.config.location=/tmp/application.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target
